# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
.venv/
ENV/

# IDE
.idea/
.vscode/
*.swp
*.swo

# Project specific
tmp/
.env
*.db
.DS_Store
.streamlit


#ignoring the service account key
serviceAccountKey.json
client_secrets.json
